* {
  font-family: Helvetica, Arial, sans-serif;
}

.container {
  padding: 64px;
}

.container h1 {
  font-size: 48px;
  font-weight: 200;
  margin-bottom: 16px;
}

.container > p {
  margin-top: 8px;
  margin-bottom: 8px;
}

.container a {
  color: #1eaedb;
}

#add-button {
  margin-top: 16px;
  padding: 8px 24px;
  background-color: #33c3f0;
  border-color: #33c3f0;
  border-radius: 4px;
  color: #fff;
  font-weight: 700;
}

#add-button:hover {
  background-color: #2cb4dd;
  border-color: #2cb4dd;
}

.library {
  margin-top: 48px;
  width: 100%;
  font-size: 18px;
  border-collapse: collapse;
}

.library th {
  text-align: left;
}

.library tr td,
.library th {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  padding: 16px;
}

