* {
  font-family: Helvetica, Arial, sans-serif;
}

.container {
  padding: 64px;
}

.container h1 {
  font-size: 48px;
  font-weight: 200;
  margin-bottom: 16px;
}

.container > p {
  margin-top: 8px;
  margin-bottom: 8px;
}

.container a {
  color: #1eaedb;
}

.library {
  margin-top: 48px;
  width: 100%;
  font-size: 18px;
  border-collapse: collapse;
}

.library th {
  text-align: left;
}

.library tr td,
.library th {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  padding: 16px;
}

.new-book-form {
  position: absolute;
  top: 10%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  padding: 24px;
  width: 350px;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.4);
  display: none;
}

.new-book-form.active {
  display: block;
}

.new-book-form input:invalid {
  border: 1px solid red;
}

.new-book-form input,
.new-book-form select {
  margin-bottom: 24px;
  font-size: 18px;
  padding: 16px;
  background-color: #f4f4f4;
  border: none;
  line-height: 1.5em;
  box-sizing: border-box;
  width: 100%;
}

.new-book-form label {
  font-size: 16px;
  letter-spacing: 1px;
}

.exit {
  width: 25px;
  text-align: center;
  margin-left: auto;
  font-size: 24px;
  padding: 4px 4px 0px 4px;
}

.new-book-form h3 {
  font-size: 48px;
  text-align: center;
  margin-top: 16px;
}

#submit {
  margin-bottom: 0;
  padding: 16px 8px;
  background-color: #33c3f0;
  color: white;
  font-size: 24px;
}

#add-button,
.delete-button,
.status-button {
  padding: 16px 24px 12px;
  border-radius: 4px;
  letter-spacing: 1px;
  font-size: 12px;
  white-space: nowrap;
}

.delete-button {
  border: none;
  color: white;
  background-color: rgb(228, 26, 103);
}

.status-button {
  border: 1px solid grey;
  background-color: white;
}

#add-button {
  margin-top: 16px;
  background-color: #33c3f0;
  border-color: #33c3f0;
  border: none;
  color: #fff;
  font-weight: 700;
}

.status-button:hover {
  background-color: rgb(236, 236, 236);
}

#add-button:hover {
  background-color: #2cb4dd;
  border-color: #2cb4dd;
}

.delete-button:hover {
  background-color: rgb(204, 24, 93);
}
